%buttonStyle {
    border-color: transparent;
    background-color: transparent;
    border-radius: 50px;
    min-width: 61px;
    max-width: 61px;
    min-height: 61px;
    min-height: 61px;
    cursor: pointer;
}