@use './classStyles' as *;
@use './variables';
@use './mixinStyles' as *;

.tv {
    margin-left: 20%;
    
    &__div{
        position: relative;
    }
    
    &__div-quote{
        @include sideImageStyles (absolute, 29.5%);
        top: 43.2%;
        left: 20%;
    }

    &__image{
        width: 50%;
        padding-left: 10rem; 
    }

    &__text{
        color: variables.$font-color;
        background-color: variables.$text-images-background-color;
        font-size: 130%;
    }

    &__div-characters {
        position: absolute;
        top: 45%;
        left: 30%;
        max-width: 10%;
        background-color: variables.$text-images-background-color;
    }

    &__characters{
        display: none;
        background-color: variables.$text-images-background-color;
        min-height: 300px;
        max-height: 300px;
    }
    
    &__quote-button{
        @extend %buttonStyle;
    }

    &__characters-button{
        @extend %buttonStyle;
    }

    &__div-button{
        @include buttonImageDiv (37.5%);
    }

    &__div-image{
        @include buttonImageDiv (49.8%);
    }
    
    &__simpsons-images{

        &--left{
            @include sideImageStyles (absolute, 10%);
            left: 0;
            top: 10%;
        }
        &--right{
            @include sideImageStyles (absolute, 10%);
            right: 0;
        }
    }
    &__simpsons-images-marge{
        width: 8%;
        top: 75%;
    }

    &__simpsons-images-bart{
        top: 35%;
    }
    &__simpsons-images-maggie{
        top: 65%;
        left: 5%;
    }
    &__simpsons-images-grandpa{
        width: 10%;
        top: 89%;
    }
    &__simpsons-images-lisa{
        top: 69%;
        right: 5%;
    }
}


    